li{
    color: #333333
}

.n-container{
    position: fixed;
    width: 100%;
    z-index: 100
}

.n-wrapper{
    padding-left: 90px;
    padding-right: 90px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border: 3px solid #efefef;
    border-radius: 80px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    background-color: white;
}

.n-left{
    width: 20%;
    float: left;
    position: relative;
}

.n-left img{
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
}

.n-right{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n-list{
    flex: 10;
    
}

.n-list>ul{
    display: flex;
    gap: 4rem;
    list-style-type: none;
    justify-content: right;
}

.n-list>ul>:hover{
    cursor: pointer;
    color: #2ca5ff;
}

.n-logo{
    width: 100px;
    height: 100px;

}