.q-container{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
    height: 51rem;
    gap: 1rem;
}

.q-left{
    width: 52.55%;
    background-size: cover;
    justify-content: center;

}

.q-title{
    margin-left: 90px;
}

.q-left-up{
    height: 8%;
}

.q-left-down{

    height: 92%;
    justify-content: center;
    align-items: center;
    background-image: url("../../images/celular.png");
    background-size: cover;
    background-position-y: center;

    
}

.q-right{
    width: 47.45%;
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    margin-right: 90px;
}

.q-title{
    font-size: 42.5px;
    color: #333333;
}


.q-right-text{
    border: 5px solid #2ca5ff;
    border-radius: 30px;
    padding: 1rem;
}

.q-right-text-paragraph{
    gap: 2rem;
    align-items: center;
    text-align: justify;
}

.q-right-text-title{
    color: #2ca5ff;
    border-radius: 30px;
    padding: 1rem;
    font-size: 30px;
    text-align: center;
}

.text-strong{
    background-color: #333333;
    width: fit-content;
    color: white;
    border-radius: 30px;
    padding: 5px;
}