.q-container{
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
    height: 51rem;
}

.q-left{
    width: 50%;
    background-color: white;
    background-size: cover;
    justify-content: center;

}

.q-right{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
}

.q-title{
    font-size: 42.5px;
    margin-left: 90px;
    color: #333333;
}

.q-left-image{
    max-width: 100%;
    height: auto;
}

.q-right-text{
    border: 5px solid #2ca5ff;
    border-radius: 30px;
    padding: 1rem;
}

.q-right-text-paragraph{
    gap: 2rem;
    align-items: center;
    text-align: justify;
}

.q-right-text-title{
    color: #2ca5ff;
    border-radius: 30px;
    padding: 1rem;
    font-size: 30px;
    text-align: center;
}

.text-strong{

    background-color: #333333;
    width: fit-content;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

.first-p{}